<div class="container p-4">
    <div class="row">
        {{#each horarios}}
             <div class="col md-3">
                 <div class="card text-center">
                     <div class="card-body">
                             <h3 class="card-title text-uppercase">
                                 {{nombreMateria}}
                             </h3>
                         </a>
                         
                         <p class="m-2">Profesor {{nombre}} {{apellido}}</p>
                         <p class="m-2">{{lunes}} {{horaInicioLunes}}  {{horaFinLunes}}</p>
                         <p class="m-2">{{martes}} {{horaInicioMartes}}  {{horaFinMartes}}</p>
                         <p class="m-2">{{miercoles}} {{horaInicioMiercoles}}  {{horaFinMiercoles}}</p>
                         <p class="m-2">{{jueves}} {{horaInicioJueves}}  {{horaFinJueves}}</p>
                         <p class="m-2">{{viernes}} {{horaInicioViernes}}  {{horaFinViernes}}</p>
                         
                      
                         
                         <a href="/horarios/asistencia/{{idHorarios}}/{{materiasID}}" class="btn btn-secondary">Asistencias</a>
                         <a href="/inscripcion/listarAlumnos/{{materiasID}}" class="btn btn-secondary">Alumnos Inscriptos</a>
                         <a href="/materias/edit/{{idMaterias}}" class="btn btn-secondary">Editar Nombre</a>
                     </div>
                 </div>
             </div>
        {{else}}  
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <P>No hay Materias Guardados.</P>
                    
                </div>
            </div>
        {{/each}}
    </div>
</div>